@import "foundation.css"; /* Importing Foundation.css would enable me to override
							css rules like h1, a etc. and define custom rules */

h1 {
	font-family: inherit;
	font-size: 30px;
}
h2 {
	font-family: inherit;
	font-size: 24px;
}
h3 {
	font-family: inherit;
	font-size: 20px;
}
h4 {
	font-family: inherit;
	font-size: 12px;
}
p {
	font-family: inherit;
	font-size: 16px;
	text-align: left;
}

a { 
	font: inherit;
	color:orange!important;
}
a:hover {
	color:black!important;
}


#header{	
	padding: 20px 0px 0px 0px;
}
#main-container {
	max-width: 1160px;
	margin: 0 auto;  /* Container align center  */
}
#about-desc { 
	text-align: center;
	padding: 20px 0px 0px 20px;
}
#listbox {
	border: 1px double black;
	padding: 10px;
	float: left;
}
#listbox .status {
	float:right;
	padding: 2px;
	border: 2px dashed green;
	border-radius: 2px;
	background-color: green;
	color: white;
	margin-top: -8px;
	margin-right: -8px;
}
#listbox .title {
	font-weight: bold;
	font-color:orange;
}
#listbox .description {
	margin-bottom: -10px;
}
#listbox ul {

}
#listbox .expirydate {
	text-align: left;
	margin-top: 4px;
}

#listbox #coupon-copy-button {
	border: 1px dashed orange;
	padding: 9px;
	background-color: orange;
	color: white;
}
#listbox a {
	color:white!important;
}
#listbox .share{
	border: 1px dotted black;
	color: white;
	background-color: black;
	width: 35px;
	padding: 5px;
	text-align: center;
}

.listview-container {
	float : left;
	padding: 50px;
}

#sidebar { 
	border: 2px dashed #6495F1;
	padding: 10px;
	float: right;

}

/* Foundation Custom Edits   */
#header .row {
	max-width: 100rem!important;
/*	background-color: #34495e; */
}
.large-8 {
	padding-bottom: 10px!important;
	float: left!important;
}
.large-4 { 
	float:right;
	padding-left: 30px;
}
#header .large-9 {
	padding-top: 15px;
}
