<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<script type="text/javascript" src="../static/jquery.js"></script>
	<script type="text/javascript" src="../static/foundation.min.js"></script>
</head>
<body>
	<div id="main-container">
		<!-- Header  -->
		<div id="header">
			  	<div class="row">
    				<div class="large-3 columns">
     					 <h1>FcCoupons</h1>
    				</div>
    				<div class="large-9 columns">
      					<ul class="inline-list right">
       						<li><a class="headerlink" href="#">Alert</a></li>
        					<li><a class="headerlink" href="#">Submit Coupon</a></li>
        					<li><a class="headerlink" href="#">Login | Signup</a></li>
      					</ul>
    				</div>
 				</div>
 				<hr />
		</div>
		<!-- About Page -->
		<div id="about-desc">
			<h1>about FreeChargeCoupons</h1>
			<p>Want to know who we are? We are FreeCharge, a business unit of Accelyst Solutions Pvt. Ltd. And our focus is to create an innovative channel that can deliver more for less to the Indian consumer.</p>

			<p>We don't just make the process of recharging convenient, we make it rewarding, by way of discount coupons. And while we're at it, our super efficient and professionally sound team makes sure our customers are 100% satisfied. Today, we help customers recharge their prepaid mobile phones, DTH connections or data cards, but wait and watch what we get into next. Whatever it is, we promise to make it just as rewarding!</p>

			<p>Wait, we know what you're thinking - How is this rewarding? Is all this really free? Well, for every recharge done on FreeCharge, we give you discount coupons from top food joints and popular retailers, equivalent to your recharge amount, delivered to your mobile, inbox or doorstep. Use the coupons to save money when you eat out, watch movies, book travel tickets, shop online, visit a salon, go gaming, pick up books, music, groceries, and live a rewarding life!</p>
			<hr />
		</div>
		<!-- List View of Coupons -->
		<div class="listview-container">
			<div class="row">
				<!-- Sidebar Intilization -->
				<div class="large-4 columns">
					<div id="sidebar">
						<h1>Sidebar</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellendus praesentium sequi recusandae magnam, rerum inventore, qui deserunt quia vitae obcaecati possimus, illum dicta dolores ex blanditiis corporis consectetur accusantium.</p>
						<a href="http://www.gunrox.com/"><img src="http://www.gunrox.com/img/banners/240x400-1.jpg" width="240" height="400" border="0"/></a>

					</div>
				</div>
				<!-- Coupon List -->
				<div class="large-8 columns">
					<div id="listbox">
						<div class="status">#Active</div>
						<div class="title"><h2>Rs.100 Off on recharge of Rs.500 and above.</h2></div>
						<div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In libero dolores voluptatum impedit voluptatibus, recusandae animi officiis similique, architecto enim non nihil repellat ad necessitatibus expedita harum eum sunt! Amet!</p></div>
						<ul class="inline-list center">
						<li><div class="expirydate">Exp. Date : 31-12-2014</div></li>
						<li><div class="coupon"><a href="/">Click to View</a></div></li>
						<li>
							<div class="share">Fb</div>
						</li>
						<li>
							<div class="share">Tw</div>
						</li>
						<li>
							<div class="share">G+</div>
						</li>
						</ul>
					</div>
				</div>
				<div class="large-8 columns">
					<div id="listbox">
						<div class="status">#Active</div>
						<div class="title"><h2>Rs.100 Off on recharge of Rs.500 and above.</h2></div>
						<div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In libero dolores voluptatum impedit voluptatibus, recusandae animi officiis similique, architecto enim non nihil repellat ad necessitatibus expedita harum eum sunt! Amet!</p></div>
						<ul class="inline-list center">
						<li><div class="expirydate">Exp. Date : 31-12-2014</div></li>
						<li><div class="coupon"><a href="/">Click to View</a></div></li>
						<li>
							<div class="share">Fb</div>
						</li>
						<li>
							<div class="share">Tw</div>
						</li>
						<li>
							<div class="share">G+</div>
						</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>